* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #09070f;
	text-align: center;
}

.container {
	height: 70vh;
	display: flex;

	justify-content: center;
	align-items: center;
}

.game {
	height: 60vmin;
	width: 60vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5vmin;
}

.box {
	height: 18vmin;
	width: 18vmin;
	border-radius: 1rem;
	border: none;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	font-size: 8vmin;
	color: #b0313e;
	background-color: #0090a3;
	transition: 0.6s;
}

.box:hover {
	background-color: #004e5c;
	transition: linear 0.1s;
}

#reset-btn {
	padding: 1rem;
	font-size: 1.25rem;
	background-color: #4077c9;
	color: #000e4e;
	border-radius: 1rem;
	border: none;
	font-weight: bold;
	transition: all 0.4s ease;
	text-align: center;
	opacity: 0.5;
}

#reset-btn:hover {
	padding: 1rem;
	font-size: 1.25rem;
	background-color: #000e4e;
	color: #4077c9;
	border-radius: 1rem;
	border: none;
	font-weight: bold;
	font-weight: 750;
	opacity: 1;
	white-space: nowrap;
	overflow: hidden;
	padding: 10.8px 250px;
	font-size: 19px;
}

#new-btn:hover {
	padding: 1rem;
	font-size: 1.25rem;
	background-color: #000e4e;
	color: #4077c9;
	border-radius: 1rem;
	border: none;
	font-weight: bold;
	font-weight: 750;
	opacity: 1;
	bottom: 347px;
	white-space: nowrap;
	overflow: hidden;
	padding: 10.8px 250px;
	font-size: 19px;
}

#new-btn {
	position: absolute;
	bottom: 350px;
	padding: 1rem;
	font-size: 1.25rem;
	background-color: #4077c9;
	color: #000e4e;
	border-radius: 1rem;
	border: none;
	font-weight: bold;
	transition: all 0.4s ease;
	text-align: center;
	opacity: 0.5;
}

#msg {
	color: #002b5c;
	font-size: 5vmin;
	transition: ease 0.3s;
}

#msg:hover {
	color: #0e8aa0;
	font-size: 5vmin;
	transform: scale(1.25);
}

h1 {
	left: 50%;
	right: 50%;
	margin-left: 37%;
	margin-right: 37%;
}

.msg-container {
	height: 100vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

h4 {
	position: fixed;
	bottom: 2%;
	right: 2%;
	color: #034a57;
	transition: all ease-in-out 0.3s;
}

a {
	font: italic bold;
	text-decoration: none;
	color: #035742;
	transition: all ease-in-out 0.3s;
}

h4:hover {
	transform: scale(1.25);
}

a:hover {
	transform: scale(1.25);
}

.hide {
	display: none;
}
